.footer {
  background: var(--light);
}
.footer .container {
  padding: 4rem 1.5rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.footer-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-logo-box {
  height: 2rem;
  width: 9.125rem;
}
.socials {
  display: flex;
  gap: 1.25rem;
}

.social-logo {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.social-logo:hover svg path,
.social-logo:focus svg path {
  fill: var(--tomato);
}

.footer-box p {
  width: 18.5rem;
}
