:root {
  --sky: #66e2dc;
  --tomato: #fa7453;
  --sun: #ffb964;
  --light: #fcfaf9;
  --dark: #191826;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans Reg")
      url("../../assets/fonts/ibmplexsans-regular-webfont.woff2")
      format("Woff2"),
    url("../../assets/fonts/ibmplexsans-regular-webfont.woff") format("Woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans Bold")
      url("../../assets/fonts/ibmplexsans-bold-webfont.woff2") format("Woff2"),
    url("../../assets/fonts/ibmplexsans-bold-webfont.woff") format("Woff");
  font-style: normal;
  font-weight: 700;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

.heading-primary {
  font-weight: 700;
  font-size: 5.5rem;
  line-height: 1;
  letter-spacing: -1px;
}
.heading-secondary {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.3;
}
.body-text-1 {
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.25rem;
}
.body-text-2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625;
}

/* Components */

.btn {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.78;
  letter-spacing: -0.18px;

  /* padding: 1.25rem 6rem; */
  width: 100%;
  max-width: 21rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn svg {
  width: 20px;
  height: 20px;
}
.btn-primary {
  background-color: var(--dark);
  color: var(--light);
}
.btn-primary:is(:hover, :focus-visible) {
  background-color: var(--sky);
}
.btn-secondary {
  color: var(--dark);
  background-color: var(--light);
}
.btn-secondary:is(:hover, :focus-visible) {
  background-color: var(--sun);
}
