.hero {
  padding: 2.5rem 1.5rem;
  color: var(--dark);
  background: url("../../assets/images/bg-main-mobile.png");
  background-position: center left;
  position: relative;
}

.logo-box {
  height: 2rem;
  width: 9.125rem;
  margin-bottom: 4rem;
}
.hero-content {
  width: 100%;
  max-width: 55rem;
}
.hero-content .heading-primary {
  margin-bottom: 1.25rem;
}
.bg-1 {
  position: absolute;
  display: none;
}
