.hero {
  padding: 2.5rem 1.5rem 0;
  color: var(--dark);
}

.logo-box {
  height: 2rem;
  width: 9.125rem;
  margin-bottom: 4rem;
}
.hero-content {
  width: 100%;
  max-width: 55rem;
}
.hero-content .heading-primary {
  margin-bottom: 1.25rem;
}
