.mainContent {
  width: 100%;
  height: 38.5rem;
  background-color: var(--dark);
  margin-top: 10.25rem;
  margin-bottom: 24.5rem;
  position: relative;
  max-width: 43.5rem;
  border-radius: 0.75rem;
  margin-inline: auto;
}

.main-img-container {
  width: 100%;
  max-width: 13rem;
  margin: 0 auto 0;
  position: absolute;
  left: 50%;
  top: -15%;
  transform: translateX(-50%);
  z-index: 2;
}

.main-premium-container {
  background-color: var(--tomato);
  color: var(--light);
  border-radius: 0.75rem;
  padding: 3rem 2.25rem;
  position: absolute;
  width: 100%;
  max-width: 27.875rem;
  height: 100%;
  top: 24rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.main-premium-container .heading-secondary {
  margin-bottom: 0.75rem;
}

.main-premium-container p {
  margin-bottom: 2.25rem;
}
.subscription-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.price {
  font-weight: 700;
  font-size: 4rem;
  line-height: 0.8125;
}
.month {
  font-size: 1.25rem;
  letter-spacing: -0.2px;
  font-weight: 400;
  line-height: 1.6;
}

.main-premium-container .btn-primary {
  margin-bottom: 1rem;
}

.bg-2 {
  width: 100%;
  max-width: 17.5rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 1;
}
