@media (min-width: 48rem) {
  body {
    line-height: 1.55;
    font-size: 1.125rem;
  }
  .main {
    /* background-color: var(--tomato); */
  }
  .container {
    max-width: 43rem;
  }
  .hero-content {
    width: 100%;
    max-width: 32rem;
  }
  .heading-primary {
    font-size: 4rem;
    line-height: 1;
    letter-spacing: -0.73px;
  }
  .bg-1 {
    width: 16.625rem;
    height: 25rem;
    display: block;
    top: -4rem;
    right: -2rem;
  }
  .mainContent {
    margin-bottom: 11.5rem;
  }
  .main-img-container {
    max-width: 16.875rem;
    left: 4rem;
    top: -8.625rem;
    transform: translateX(0%);
  }
  .main-premium-container {
    padding: 3rem;
    max-width: 25rem;
    height: 34.125rem;
    transform: translateX(0%);
    top: 9rem;
    left: 35%;
    transform: translateX(0%);
  }
  .bg-2 {
    top: -2.5rem;
    left: 52%;
  }

  .footer .container {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    justify-content: space-between;
    gap: 8rem;
  }
}
